<!DOCTYPE html>
<html>
 <head>
  <link rel="stylesheet" href="static/css/NISTStyle.css" integrity="sha384-EPJvQ9KTwCzidomsvy0YTQ7mQ67cWFWXUo/Tj7NG1ThHaCrMpcOInW94LpY4jtEu">
  <link rel="stylesheet" href="/nist-header-footer/css/nist-combined.css" integrity="sha384-FtmpQ5AQ4c9l0I05kT1DfPu6mV4MhIAn5XwH4qyaopyfQP/xf+0+CS8AuszqE4re">
  <link rel="stylesheet" href="https://cdn.datatables.net/2.1.7/css/dataTables.dataTables.css" integrity="sha384-eCorNQ6xLKDT9aok8iCYVVP8S813O3kaugZFLBt1YhfR80d1ZgkNcf2ghiTRzRno" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/nist-header-footer/js/nist-header-footer.js" integrity="sha384-OzKN95N27qiLVGB/cvGKWpSyq/EJqdXTrSQBgtv+2Gk0l9xqVYarbky0TdaBYAi/"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/2.1.7/js/dataTables.js" integrity="sha384-99nLqKWXnIcK78TxcyIYj/Uu+/LevZFpp7ldw6n4y2yOfxZ8yLs+Qa3kZV6kHJgu" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/2.1.7/dataRender/ellipsis.js" integrity="sha384-Zbvo4zXT5u08LX8lxdqF30bOzLdQDjDt9rhTJaB5jbJ9IBf0CKasQtMAKm7ATsdd" crossorigin="anonymous"></script>
  <script type="text/javascript">
   $(document).ready(function () {
    $('#repotable').DataTable({
      columnDefs: [ {
	targets: 1,
	render: DataTable.render.ellipsis( 64 )
      } ]
    });
   });
  </script>
 </head>
 <body>
  {{ content }}
 </body>
</html>
