<!DOCTYPE html>
<html>
 <head>
  <link rel="stylesheet" href="static/css/NISTStyle.css">
  <link rel="stylesheet" href="/nist-header-footer/css/nist-combined.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
  <script type="text/javascript" src="/nist-header-footer/js/nist-header-footer.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>
  <script type="text/javascript">
   $(document).ready(function () {
    $('#repotable').DataTable({
     dom: 'Bfrtip',
     buttons: [
      'print'
     ]
    });
   });
  </script>
 </head>
 <body>
  {{ content }}
 </body>
</html>
